{
	margin: 0;
	padding: 0;
}

html {
	background-color: #1D1D1D;
}

body {
	margin: 0;
	padding: 0;
	background: url('../img/bg-dots.png');
}

body p,ul,ol {
	font-family: 'Open Sans';
	font-size: 11pt;
	line-height: 22px;
}

/* 
 * Prevent a too large width on large
 * screens.
 **/
@media (min-width: 1200px) {
	.container {
		max-width: 800px;
	}
}

a {
	color: #CC0000;
}

a:hover {
	color: #CC0000;
	text-decoration: underline;
}

h1 {
	font-family: 'Dancing Script';
	font-size: 40pt;
	color: #000;
}

h1.title a {
	text-shadow: 2px 2px 2px #d1d1d1;
	color: #000;
}

h1.title a:hover {
	text-decoration: none;
	text-shadow: none;
}

h2 {
	text-transform: uppercase;
	color: #333333;
}

.maintitle {
	margin: 40px 0px;
}

.lead p {
	font-size: 20px;
	line-height: 30px;
	font-weight: 200;
}

/**
 * Post overview (blog.html)
 **/
.postoverview ul {
	list-style-type: none;
}

.postoverview ul li {
	font-size: 18pt;
	margin-left: 50px;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.postoverview ul li img {
	margin-bottom: 4px;
}

.postoverview .year {
	font-family: 'Open Sans';
	font-size: 40pt;
	text-transform: uppercase;
	margin-bottom: 30px;
	margin-top: 30px;
}

.postoverview .month {
	font-family: 'Open Sans';
	font-size: 12pt;
	text-transform: uppercase;
	margin-top: 15px;
	margin-right: 5px;
}

/* 
 * Post (post.html)
 */

.post .date {
	color: gray;
}

.post .tags {
	float: right;
}

.post article {
	margin-top: 15px;
}

.post article li {
	margin-bottom: 8px;
}

.post h1 {
	color: #CC0000;	
	font-family: 'Open Sans';
	font-size: 18pt;
	text-transform: uppercase;
}

.post h2 {
	font-size: 14pt;
	text-transform: uppercase;
}

.post h3 {
	font-size: 12pt;
	text-transform: none;
}

.post img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* *** FOOTER *** */

footer {
	background: -moz-linear-gradient(center top , #444444 0%, #1D1D1D 100%) repeat scroll 0 0 transparent;
	background-color: #1D1D1D;
	color: #fff;
	min-height: 250px;
	border-top: 5px solid #D6D6D6;
	margin-top: 30px;
}

footer ul {
	list-style-type: none;
	margin: 20px;
}

footer ul li {
	float: left;
	margin-right: 10px;
}

footer ul:nth-last-child() {
	float: right;
}

footer ul li {
	font-family: 'Open Sans';
	font-size: 14pt;
	text-shadow: 2px;
	color: #fff;
	text-shadow: 1px;
}

footer ul li a:hover {
	text-decoration: none;
	color: #CC0000;
}

footer span.powered {
	font-size: 8pt;
	float: right;
} 

footer span.powered a { font-family: 'Dancing Script';
	font-size: 16pt;
	color: #fff;
}

footer div.copy {
	float: right;
	margin-top: 5px;
	clear: right;
}

footer span.powered a:hover {
	color: #CC0000;
	text-decoration: none;
}

footer .copy span {
	font-family: 'Dancing Script';
	font-size: 12pt;
}

a.button {
	background-color: #CC0000;
	border: 1px solid #550000;
	border-radius: 6px 6px 6px 6px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-shadow: 0 -1px 0 #330000;
	font-size: 11px;
	padding: 5px 10px;
}

a.button:hover {
	background-color: #EE0000;
	box-shadow: 0 1px 8px #FF3333 inset;
	text-decoration: none;
}
