<!DOCTYPE html>
<html>
	<head>
		<title>Ronald van Zuijlen</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="developer utrecht blog nerd" />
		<meta name="description" content="The personal website of Ronald van Zuijlen." />
		<link rel="stylesheet" media="screen" href="{{ site.url }}/css/bootstrap.css" />
		<link rel="stylesheet" media="screen" href="{{ site.url }}/css/bootstrap.min.css" />
		<link rel="stylesheet" media="screen" href="{{ site.url }}/css/style.css" />
		<link rel="stylesheet" media="screen" href="{{ site.url }}/css/pygments.css" />
		<link href="{{ site.url }}/css/bootstrap-responsive.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Dancing+Script:400,700' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700italic,700' rel='stylesheet' type='text/css' />
		<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
	</head>
	<body>
		<div class="container">
			<div class="row-fluid maintitle">
				<h1 class="title">
					{% if page.title != 'home' and page.title != 'blog' %}	
					<a href="{{site.url}}/blog.html">Ronald van Zuijlen</a></h1>
					{% else %}
					<a href="{{site.url}}/">Ronald van Zuijlen</a></h1>
					{% endif %}
			</div>
		</div>
