<!DOCTYPE html>
<html>
	<head>
    <title>{{site.title}} {%if page.title %} - {{page.title}}{% endif %}</title>
    <!-- meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.description %}
      <meta name="description" content="{{page.description}}" />
    {% else %}
      <meta name="description" content="{{site.description}}" />
    {% endif %}

    {% if page.tags %}
      <meta name="keywords" content="{{page.tags | join: ','}}" />
    {% else %}
      <meta name="keywords" content="{{site.keywords}}">
    {% endif %}

    {% if page.date %}
      <meta http-equiv="date" content="{{page.date |date: '%A, %d  %Y %H:%M:%S GMT'}}" />
      {% endif %}

    <meta name="robots" content="{{page.index}}INDEX,{{page.follow}}FOLLOW" />i
    <!-- end meta -->

		<link rel="stylesheet" media="screen" href="{{ site.url }}/css/bootstrap.css" />
		<link rel="stylesheet" media="screen" href="{{ site.url }}/css/bootstrap.min.css" />
		<link rel="stylesheet" media="screen" href="{{ site.url }}/css/style.css" />
		<link rel="stylesheet" media="screen" href="{{ site.url }}/css/pygments.css" />
		<link href="{{ site.url }}/css/bootstrap-responsive.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Dancing+Script:400,700' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700italic,700' rel='stylesheet' type='text/css' />
		<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
	</head>
	<body>
		<div class="container">
			<div class="row-fluid maintitle">
				<h1 class="title">
					{% if page.title != 'Home' and page.title != 'Blog' %}	
          <a href="{{site.url}}/blog.html">{{site.title}}</a></h1>
					{% else %}
          <a href="{{site.url}}/">{{site.title}}</a></h1>
					{% endif %}
			</div>
		</div>
