{% include header.html %}

<div class="container">
	<div class="row-fluid post">
		<h1>{{ page.title }}</h1>
		<span class="date">{{ page.date | date:"%B %e, %Y" | upcase }} - {{ page.location }}
      <span class="tags">TAGS: 
        {{ page.tags | join: ', '}}
			</span>
		</span>
		<article>
			{{ content }}
		</article>
		<!-- ad tryout -->
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5938829950105138"
     crossorigin="anonymous"></script>
			<ins class="adsbygoogle"
			     style="display:block; text-align:center;"
			     data-ad-layout="in-article"
			     data-ad-format="fluid"
			     data-ad-client="ca-pub-5938829950105138"
			     data-ad-slot="5543133076"></ins>
		<script>
		<!-- /ad tryout -->
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </div>
  {% if page.comments %}
    {% include comments.html %}
  {% endif %}
</div>

{% include footer.html %}
